**/data/
Hermes/natural_language_classifier/data/
Hermes/natural_language_inference/data/
Hermes/spoken_language_understanding/data/
**/__pycache__
**/.gitignore
**/.idea
Hermes/.gitignore
Hermes/.idea