**/data/embedding.npy
**/data/glove.840B.300d.txt
**/data/snli_data/snli_1.0_train.txt
Hermes/natural_language_classifier/data/embedding.npy
Hermes/natural_language_classifier/data/glove.840B.300d.txt
Hermes/natural_language_inference/data/
Hermes/spoken_language_understanding/data/
**/__pycache__
**/.gitignore
**/.idea
Hermes/.gitignore
Hermes/.idea